.FirstHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(85, 1, 85);
    color: white;
    padding: 1rem 1.3rem ;
    flex-wrap: nowrap;
}
.left span{
    font-weight: 700;
}
.FirstHeader > .right{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    flex-direction: row;
    justify-content: space-between;
}
.FirstHeader .right .links{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:960px) {
    .FirstHeader{
        padding: 1rem 1.2rem ;
    }
    .FirstHeader .left p, .FirstHeader .right .links{
        font-size: 14px;
    }
}


@media screen and (max-width:780px) {
    .FirstHeader{
        background: blue;
        padding: 1rem 1.1rem ;
    }
    .FirstHeader .left p, .FirstHeader .right .links{
        font-size: 12px;
    }
}


@media screen and (max-width:620px) {
    .FirstHeader{
        padding: 1rem .2rem ;
    }
    .FirstHeader .left p, .FirstHeader .right .links{
        font-size: 8.5px;
    }
}

