.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9rem 1.3rem ;
}
.Header .logo{
    display: flex;
    align-items: center;
}
.mobile_screen, .header-toggle{
    display: none;
}
.header-icon{
    font-size: 30px;
    background-color: rgb(85, 1, 85);
    color: white; 
    border-radius: 30%;
}
.logo-text{
    font-weight: 800;
    font-size: 18px;
}
.search-bar{
    display: flex;
    align-items: center;
    position: relative;
}
.search-bar .icon{
    position: absolute;
    right: 6px;
    font-size: 19px;
    cursor: pointer;
}
#search-bar-input{
    font-size: 17px;
    padding: .4rem 2rem .4rem .8rem;
    width: 30rem; 
    outline: none;
    border: .1px solid rgb(191, 189, 191);
    box-shadow: 2px 0px 5px black;
    border-radius: 10px
}
.user-account-header{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.header-wrapper{
    position: relative;
}
.header-wrapper span{
    position: absolute;
    left: 30%;
    bottom: 3px;
    background-color: rgb(233, 21, 233);
    padding: 4px;
    border-radius: 30%;  
}
.header-wrapper .icon{
    font-size: 42px;
    width: 100%;
}
.header-auth{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.header-auth .icon{
    font-size: 17px;
}
.header-auth-hello-text{
    font-size: 14px;
}
.header-auth-hello-text .link{
    text-decoration: none;
    
}
.header-auth-sign-in{
    font-weight: 600;
}
.mobile-menu, .mobile-user{
    font-size: 25px;
    color: rgb(85, 1, 85);
    font-weight: 800;
    cursor: pointer;   
}

.header-toggle{
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100svh;
}
.header-toggle-top{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-toggle-body > p{
    text-align: center;
    margin: 1.4rem 0;
}
.toggle-links{
    text-decoration: none;
    color: black;
}
.toggle-links:hover{
    color: purple;
}
.menu-wrapper{
    display: flex;
    align-items: center;
    gap: .3rem;
}

@media screen and (max-width:968px) {
    
    #search-bar-input{
        font-size: 16px;
        width: 22rem;  
    }
    .header-auth-hello{
        font-size: 15px;
    }
    .header-auth-hello-text{
        font-size: 12px;
    }
}

@media screen and (max-width:780px) {
    #search-bar-input{
        font-size: 16px;
        width: 16rem;  
    }
}

@media screen and (max-width:680px) { 
    .Header > .user-account-header, .Header> .search-bar, .Header > .logo{
        display: none;
    }
    .Header{
        padding: .9rem ;
    }
    .mobile_screen{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100svh;
    }
    #search-bar-input{
        font-size: 15px;
        width: 17rem;  
    }
    .mobile-menu, .mobile-user{
        font-size: 22px;
        color: rgb(85, 1, 85);
        font-weight: 800;
        cursor: pointer;   
    }
    .header-wrapper .icon{
        font-size: 28px;
        width: 100%;
    }
    .header-wrapper span{
        position: absolute;
        left: 30%;
        bottom: 3px;
        font-size: 11px;
        background-color: rgb(233, 21, 233);
        padding: 2px;
        border-radius: 30%;  
    }
}

@media screen and (max-width:480px) { 
    
    .Header{
        padding: .8rem ;
    }
    .logo-text{
        font-weight: 800;
        font-size: 14px;
    }
    #search-bar-input{
        font-size: 11px;
        width: 12.5rem;  
    }
    .header-toggle{
        display: flex;
        flex-direction: column;
        background: white;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100svh;
    }
    .mobile-menu, .mobile-user{
        font-size: 22px;
        color: rgb(85, 1, 85);
        font-weight: 800;
        cursor: pointer;   
    }
    .header-icon{
        font-size: 20px;
        background-color: rgb(85, 1, 85);
        color: white; 
        border-radius: 30%;
    }
    .header-wrapper .icon{
        font-size: 30px;
        width: 100%;
    }
    .header-wrapper span{
        position: absolute;
        left: 30%;
        bottom: 3px;
        font-size: 13px;
        background-color: rgb(233, 21, 233);
        padding: 2px;
        border-radius: 30%;  
    }
}
@media screen and (max-width:360px) {
    #search-bar-input{
        font-size: 8px;
        width: 10rem;  
    }
    .header-wrapper .icon{
        font-size: 28px;
        width: 100%;
    }
    .header-wrapper span{
        font-size: 11px;
    }
}