.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 3rem;
}
.header-navigation{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.header-links{
    text-decoration: none;
    color: #07484A;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 26.58px;
    letter-spacing: 1px;
    word-wrap: break-word;
    font-size: 20px;
}
.header-links:hover::after{
    content: '';
    display: flex;
    flex-direction: column;
    background-color: #07484A;
    height: 4px;
    transition: 200ms ease-in;
    /* border-bottom: 3px solid #07484A; */
}
.header-icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-icons .icons{
    font-size: 2rem;
    color: #07484A;
    cursor: pointer;
}
.header-icons img{
    cursor: pointer;
}
.header-icons-wrapper{
    position: relative;
    cursor: pointer;
}
.header-icons-wrapper span{
    position: absolute;
    bottom: 0;
    background-color:black ;
    color: white;
    padding: 3px 5px;
    border-radius: 20px;
}