.heading{
    color: #07484A;
    font-family: Playfair Display;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 64px;
    text-align: center;
}
.Category{
    padding: 3.4rem 4rem;
}
.Category-main{
    padding-top: 3.4rem;
   display: flex;
   justify-content: space-around;
    gap: 1.2rem;
}
.Category-main-filter{
    display: flex;
    flex-direction: column;
    gap: 1.02rem;
}
.category-search-wrapper{
    position: relative;
}
.category-search-wrapper .icon{
    position: absolute;
    top: 8px;
    left: 3px;
    font-size: 17px;
    color: #07484A;
}
#category-search-input{
    border: .01px solid rgb(228, 227, 227);
    font-size: 14px;
    padding: .4rem .3rem .4rem 1.4rem;
    outline: none;
    background-color:rgb(228, 227, 227) ;
}
.category-filter-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.category-filter-group-paginate{
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    color: #07484A;
}
.Category-main button{
    display: flex;
    align-items: center;
    padding: .5rem 1.4rem;
    color: white;
    font-family: Open Sans;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 18px;
    background-color: #07484A;
    outline: none;
    border: none;
}
.Category-main button .icon{
    padding-left: 4px;
    font-size: 20px;
}
.Category-main-cartalogue{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 1.2rem; */
    row-gap: 1.2rem;
    column-gap: 3rem;
}
.Category-main-cartalogue_item img{
    height: 145px;
    width: 300px;
}