.Partners{
    padding: 4rem 1.4rem;

}
.Partners .container-description{
    text-align: center;
    font-size: 15px;
    margin-bottom: 2.2rem;
    margin-top: .9rem;
}
.Partners > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Partners > .container > .partner-images{
    height: 100px;
    width: 200px;
}


@media screen and (max-width:960px) {
    
    .Partners > .container > .partner-images{
        height: 100px;
        width: 150px;
    }
}
@media screen and (max-width:780px) { 
    .Partners > .container > .partner-images{
        height: 80px;
        width: 120px;
    }
}

@media screen and (max-width:560px) { 
    .Partners > .container > .partner-images{
        height: 45px;
        width: 65px;
    }
}