/* 
Styling For Components Starts Here */
.white-text{
  color: white;
}
.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #317773;
  color: black;
  font-size: .95rem;
   min-height: 4.6rem;
 
}
.Header .Container{
  display: flex;
  justify-content: space-between;
  margin: 0 1.7rem;
  width: 100%;
  align-items: center; 
}
.Header .icon-div {
   display: flex;
   align-items: center;
}
.Header .icon-div .sep-icons{
  position: relative;
  margin: 0 .9rem;
  cursor: pointer;
  color: white;
}
.Header .icon-div .sep-icons .icons{
  font-size: 1.7rem;
}
.Header .icon-div .sep-icons .icons:hover{
  color: bisque;
  transition: 400ms ease-out;
}
.Header .icon-div .sep-icons span{
  position: absolute;

  left: 0;
}
.Container .logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-link:hover{
  transition: ease-out 500ms;
  color: beige;
}

.LoggedIn .gap{
  margin: 0 1rem;
  text-decoration: none;
  font-size: .95rem;
}
/* Hero Section Starts Here */
.Hero{
  height: 400px;
  border: 1px solid black;
}
/* Hero Section Ends Here */

/* About Section Starts Here */
.About-Comp{
  margin: 3rem 1.2rem;
}
.About-Comp .heading {
  text-align: center;
  color: #317773;
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 4rem;
  margin-bottom: .8rem;
}
.About-Comp .text{
  font-size: .9rem;
}


/* About Section Ends Here */


/* Testimony Section Starts Here */
.Testimony{
  margin: 4.6rem 0;
}

.Testimony h4{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 800;
  color: #317773;
}

.Testimony h5{
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1.2rem;
  font-weight: 300;
  color: rgb(82, 81, 80);
}
.Testimony .Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.client-testimony{
  max-width: 550px;
  height: 155px;
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  padding: .5rem 1.4rem;
  border-radius: 5px;
}
.client-testimony .image{
  height: 110%;
  width: 150%;
  background-image: url('./assets/StyleCar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: .8rem;
}
.content p{
  font-size: .92rem;
  margin-bottom: .4rem;
}
.content h5{
  text-align: center;
  margin-top: .2rem;
  color: #317773;
  font-weight: 700;
}
/* Testimony Section Ends Here */


/* StoreSection Starts Here */
.Store {
  margin: 1.4rem .8rem 1.4rem 2rem;
}

.top .intro{
  display: flex;
  align-items: center;
  color: rgb(38, 209, 163);
  padding-bottom: .3rem;
}
.intro .icon{
  font-size: 1.2rem;
}
.box-1 .cart-containers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.4rem 0;
}
.cart-containers .box{
  width: 330px;
  /* border: 1px solid red; */
  padding: .4rem .7rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
.cart-containers .box:hover{
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3)
}
.box .image{
  height: 100px ;
  width: 100%; 
  background-color: rgb(196, 193, 196);
  margin-bottom: .9rem;
  object-position: center;
}
.box .discount{
  background-color: #317773;
  color: white;
  padding: .5rem .9rem;
  position: absolute;
  top: 1rem;
  right: 0rem;
}

.content .price-tag{
  display: flex;
  align-items: center;
  margin: .2rem 0;
}
.price-tag .new-price{
  font-weight: 600;
}
.price-tag .old-price{
  margin-left: .5rem;
  color: grey;
  text-decoration: line-through;
}

.content .rating{
  display: flex;
  align-items: center;
  color: rgb(155, 155, 17);
}
.rating .icons{
  margin-right: .02rem;
}
.Store .box-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-2 .store-btn{
  outline: none;
  border: none;
  padding: .9rem;
  background-color: #317773;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/*Store Section Ends Here */

/* Partner Section Starts Here */
.Partner{
  margin: 4rem 0;
}
.Partner h2{
  text-align: center;
  margin-bottom: 1.7rem;
}
.Partner-Icons{
  min-height: 50px;
  background-color: rgb(219, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Partner-Icons .icons{
  font-size: 2rem;
  margin: 0 .7rem;
}

/* Partner Section Ends Here */
/* Contact Section Starts Here */
.Contact{
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact  .box-1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.description h4{
  margin: .2rem 0;
}
.details h4{
  font-size: 1.3rem;
  font-weight: 800;
  color: rgb(38, 209, 163);
}
.details form{
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
}
.details form .input{
  outline: none;
  padding: .5rem .7rem;
  margin-bottom: .5rem;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 2px;
}
.details form textarea {
  outline: none;
  padding: .4rem .7rem;
  margin-bottom: .5rem;
  resize: none;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .3);
}
form .error{
  font-size: 13px;
  margin-bottom: .3rem;
  color: red;
}
form .success{
  font-size: 13px;
  margin-bottom: .3rem;
  color: green;
}
form #Submit{
  color: white;
  background-color: rgb(38, 209, 163);
  border: 1px solid rgb(38, 209, 163);
  outline: none;
  cursor: pointer;
}

.map .container{
 
  margin-left: 2.6rem;
  position: relative;
  min-width: 300px;
}

.container .image{
  min-height: 320px;
  width: 250px;
  /* background-color: white; */
  margin-top: 1.7rem;
  z-index: 999;
}
.container .contact-box{
  position: absolute;
  top: 0;
  right: 0; 
  z-index: -9999;
  height: 280px;
  width: 130px;
  padding-right: 2rem;
  background-color: rgb(38, 209, 163);
  border-radius: 5px;
  /* margin-top: 4rem; */
}

.Contact .box-2{
  display: flex;
  align-items: center;
  margin-top: 4.5rem;

}

.box-2 .container{
  margin: 0 .8rem;
  display: flex;
  align-items: center;
   border: 1px solid rgba(0, 0, 0, .3);
  cursor: pointer;
  padding: .6rem .8rem;
}
.box-2 .container:hover{ 
  transition: 300ms ease-out;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3);
  border: none;
}
.box-2 .container .icons{
  font-size: 1.7rem;
  margin-right: .5rem;
  color: rgb(38, 209, 163);
}
.text h4{
  color: rgb(38, 209, 163);
  font-weight: 900;
  font-size: 1.1rem;
  padding-bottom: .3rem;
}

/* Contact Section Ends Here */

/* Footer Starts Here */
.Footer{
  margin-top: 2.4rem;
}

.Footer .Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.footer-title{
  color: #317773;
}
.ul-tags{
  list-style-type: none;
  margin-top: 1.3rem;
  font-size: .9rem;
}
.ul-tags li{
  margin: .7rem 0;
}
.ul-tags li .link{
  text-decoration: none;
  color: black;
}
.ul-tags li .link:hover{
  color: rgb(133, 130, 130);
  transition: 400ms ease-out;
}
#Subcribe-input{
  padding: .4rem .8rem;
  outline: none;
}
#Subscribe-btn{
  padding: .5rem .7rem;
  cursor: pointer;
  font-size: .9rem;
 background-color: #317773;
 color: white;
 border: none;
 outline: none;
}
.Footer .socials{
  background-color: #317773;
  display: flex;
  color: white;
  justify-content: center;
  padding: .7rem 0;
  align-items: center;
}
.socials .icons{
  margin: 0 .6rem;
  cursor: pointer;
}
/* Footer Ends Here */

/* Utils */
.Reviews{
  margin-top: 2.5rem;
}

.sub-heading-reviews{
  font-size: 1.7rem;
  margin: .8rem .5rem;
}
.no-reviews-exist{
  margin: .8rem .5rem;
  font-size: .91rem;
  font-weight:400;
}
.Comment{
  display: flex;
  /* padding: 0 .8rem; */
  align-items: center;
  background-color: rgb(231, 229, 224);
  padding: 1.1rem .4rem;
  border-radius: 10px 0 0 10px ;
}
.Comment #comment{
  width: 97%;
  padding: .6rem .9rem;
  border: 1px solid rgb(88, 88, 88);
  outline: none;
  margin-left: .7rem;
}

.Comment .icon{
  font-size: 2.1rem;
  margin-left: .8rem;
  cursor: pointer;
  color: rgba(4, 4, 4, 0.3);
}
.Replies .wrapper{
  display: flex;
  align-items: center;
  margin: .9rem .9rem;
}

.Replies .wrapper .images{
  height: 80px;
  width: 80px;
  margin-right: 1.2rem;
  border-radius: 50%;
}
.users-engagaement .peoples-name{
  margin-bottom: .3rem;
}
.users-engagaement .peoples-comment{
  font-size: .9rem;
}