
/* Styling For All Pages And Utils Starts Here */

/* Styling For Utils Starts Here  */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Open sans
Playfair display 
Roboto*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.hide{
  display: none;
}

/* Styling For Utils Ends Here*/

/* Styling For Pages Starts Here*/
.Blog {
  margin: 5rem;
}
.Blog .heading{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 800;
  color: rgba(19, 127, 127, 0.587);
  margin-bottom: 1.3rem;
}
.Blog-Container .Blog-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Blog-content .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.9rem 0;
  height: 230px;
  width: 700px;
  /* border: 1px solid red; */
}
.box .blog-details{
  margin-left: 2rem;
}
.box .blog-image{
  height: 100%;
  width: 50%;
}
.blog-details h4{
  font-size: 1.3rem;
  margin-bottom: .3rem;
  font-weight: 800;
}
.blog-details h5{
  margin-bottom: .3rem;
}
h5 .author{
  color: rgb(9, 113, 113);
}

.blog-details .submit-btn{
  outline: none;
  border: none;
  cursor: pointer;
  padding: .5rem .7rem;
  margin-top: .6rem;
  background-color: rgb(17, 119, 119);
  color: white;
}

/* Authentication */
.Authentication{
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 243, 241);
  display: flex;
  align-items: center;
}
.Authentication-Color{
  width: 36%;
  background-color: black;
  height: 100%;
}
.Authentication_center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 64%;
  /* background-color: red; */
}
.Authentication_center form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%; 
}
.Authentication_center h4{
  color: rgb(17, 119, 119);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.4rem;
}
.Authentication_center form .input__field{
  padding: .6rem .8rem;
  width: 80%;
  margin: .4rem 0;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .3);
}
#Auth_submit{
  background-color: rgba(19, 127, 127, 0.587);
  color: white;
  border: none;
  cursor: pointer;
}
.below-form{
  display: flex;
  margin-top: .7rem;
  align-items: center;
  width: 48%;
  justify-content: space-between;
}
.below-form p .link{
  text-decoration: none;
  color: black;
}

/* Forgotten Password */
.ForgottenPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(141, 142, 141, 0.9);
}
.ForgottenPassword .box .title-tag{
  text-align: center;
  margin-bottom: .8rem;
  font-size: 1.5rem;
  font-weight: 800;
}
.box .fgt-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  /* background-color:rebeccapurple; */
}
.fgt-form .input{
  width: 100%;
  margin-bottom: .8rem;
  padding: .6rem .8rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .3);
}
.fgt-form #submit-btn{
  border: none;
  cursor: pointer;
  background-color: rgba(19, 127, 127, 0.587);
  color: white;
}
.fgt-form #submit-btn:hover{
  background-color: rgba(21, 166, 166, 0.587);
  transition: 400ms ease-out;
}

/* Store */
.Store-Page{
  /* margin: 0 2.4rem; */
  color: black;
}
.Store-Page .top{
  padding:1rem 0 1rem 2rem ;
  min-height:10px;
  background-color: rgba(168, 163, 163, 0.1);
}
.Store-Page .top .upper{
  display: flex;
  align-items: center;
  
}
.Store-Page .top .upper .link{
  color: black;
  text-decoration: none;
}
.Store-Page .top .upper .icons{
  margin: 0 .6rem;
}
.explore-product{
  font-size: 1.4rem;
  margin-top: .5rem;
  color: rgba(19, 127, 127, 0.9);
}
.Store-Page .container{
  display: flex; 
  margin: 3rem 1.5rem;
}

.Filter{
  /* margin: 2rem 0 0 2rem; */
  max-width: 150px;
  /* background-color: blue; */
  margin-right: 1.2rem;
}
/* .Filter .box-1{
  background-color: green;
} */
.box-1 .filter-top{
  display: flex;
  align-items: center;
  margin-bottom: .6rem;
  
}
.box-1 .filter-top h4{
  font-size: 1.23rem;
}

.box-1 .filter-top .icons{
  font-size: 1.5rem;
  margin-left: 2.4rem;
  cursor: pointer;
}
.box-1 .options{
  margin-top: 2rem;
}
.box-1 .options .item{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: .8rem;
}
.item .check-box{
  font-size:1.6rem ;
}
.box-1 .options .item p{
  margin-left: 1.5rem;
}
.Product{
  width: calc(100vw - 150px);
}
.Product .top{
  background-color: rgba(253, 251, 252, 0.9);
 
  margin: 0;
  text-align: right;
}

.Product .container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Product .container .box{
  margin: 0 1.87rem 2.5rem 0;
  padding: .3rem .5rem;
  position: relative;
  cursor: pointer;
  
}

.Product .container .box:hover{
  background-color: rgb(245, 243, 241); 
  box-shadow: 1px 2px 1px 4px rgba(168, 163, 163, 0.1);
}
.Product .container .box #image{
  height: 100px ;
  width: 100%;
}
.Product .container .box .buy-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .8rem;
}
.Product .container .box .buy-option .cart-option{
  position: relative;
}
.Product .container .box .buy-option .cart-option .icon{
  font-size: 1.3rem;
  color: rgb(17, 119, 119);
}
.Product .container .box .buy-option .cart-option .cart-number{
  font-size: 1.1rem;
}
.Product .container .box .buy-option .buy-number .button{
  padding: .3rem .5rem;
  cursor: pointer;
  font-size: .98rem;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(17, 119, 119);
  text-decoration: none;
}
.Product .container .box .buy-option .buy-number span{
  padding: 0 .3rem;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;

}
.react-paginate{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
  padding: .6rem .3rem;
  align-items: center;
  font-size: 1.1rem;
}
.pages-paginate{
  padding: .6rem .9rem;
  margin: 0 .4rem;
  cursor: pointer;
  border: 1px solid black;
}
.active-paginate{
  background-color: #0c5726;
  border: none;
  color: white;
}
.paginate-color{
  cursor: pointer;
  color: rgb(13, 99, 59);
}
/* Styling For Pages Ends Here*/
.Item{
  overflow-x: hidden;
}
.Item .Go-home{
  padding: .7rem 1.9rem;
  display: flex;
  align-items: center;
  background-color: rgba(253, 251, 252, 0.9);
}
.Item .Go-home .link{
  text-decoration: none;
  color: #000;
  margin-right: .4rem;
}

.Main-Item{
  height: calc(100vh - 4.4rem);
  width:100vw;
  display: flex;
  align-items: center;  
}
.Main-Item .image-wrapper{
  position: relative;
  height: 100%;
  width: 50%;
}
.Main-Item .image-wrapper .image{
  height: 100%;
  width: 98%;
}
.Main-Item .image-wrapper .discount{
  position: absolute;
  top: 1rem;
  right: 0;
  color: white;
  padding: .8rem 1.7rem;
  background-color: rgba(0, 225, 225, .6);
}
.Item-Body .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .product-name{
  font-size: 1.6rem;
  background-color: white;
  font-weight: 800;
  line-height: 2;
  margin: 1.3rem 0;
}

.container .product-buttons{
  margin: 2.6rem .3rem;
  font-size: 1.3rem;
  
}
.container .product-buttons button{
  padding: .4rem .7rem;
  margin: 0 .8rem;
  outline: none;
  border: none;
  background-color: rgba(19, 127, 127, 0.587);
  cursor: pointer;
}

.Item-Body .container .checkout .proceed-checkout{
  text-decoration: none;
  margin: 0 .8rem;
  padding: .8rem 1.3rem;
  color: white;
  background-color: rgba(19, 127, 127, 0.9);
}
.About-Page{
  height:80vh;
  position: relative;
}
.About-Page .add-hero-image{
  background-image: url('./assets/desk.jpg');
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(.8);
  height: 45%;
}
.About-Page .contents{
  position: absolute;
 display: flex;
 left: 30%;
 right: 30%;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.About-Page .contents .heading{
  font-size: 1.5rem;
  margin-top: 2.3rem;
  color: #0c5726;
  font-weight: 800;
}

.About-Page .contents .paragraph{
  width: 60vw;
  margin-top: 1.4rem;
}
.Partner-Page{
  display:flex;
  justify-content: center;
  align-items: center;
}
.Partner-Page .container{
  margin: 3rem 0;
  width:60vw;
}

.Partner-Page .container .heading{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.Partner-Page .container form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Partner-Page .container form .partner-input{
  width: 90%;
  padding: .5rem .6rem;
  margin: .4rem 0;
  border: 1px solid rgba(0, 0, 0, .3);
  outline: none;
}
.Partner-Page .container form #submit-btn{
  background-color: #0c5726;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}